<app-navbar></app-navbar>

<div class="surface-section px-4 py-3 md:px-6 lg:px-8">
    <h1 class="font-bold  mb-3">One Piece </h1>
    <p class="line-height-3 text-700 my-4">"One Piece" is a popular and long-running anime and manga series
        created by Eiichiro Oda. It has captivated audiences worldwide with its epic adventure, rich
        world-building, memorable characters, and thrilling battles. Here's some content about "One Piece".</p>
    <div class="flex flex-wrap">
        <div class="w-full xl:w-6 pr-0 xl:pr-6"><img src="../assets/images/IMG_20230902_195734_615.jpg" alt="Image"
                class="w-full">
            <div class="flex align-items-center mt-4"><img src="assets/images/blocks/avatars/circle/avatar-f-3.png"
                    width="28" height="28" class="mr-3 flex-shrink-0"><span
                    class="text-900 font-medium text-lg white-space-nowrap">Darrel Steward</span><span
                    class="text-500 font-medium text-lg mx-3">|</span><span
                    class="text-500 font-medium text-lg white-space-nowrap">Oct 7</span></div>
            <h2 class="">Introduction to "One Piece"</h2>
            <p class="line-height-3 text-700 my-4">"One Piece" is based in a world where pirates roam the seas in search of a mythical treasure called "One Piece". The story is based on Monkey D. Luffy, a young and aspiring pirate who has the ability to stretch his body like rubber after eating a Devil Fruit. Luffy embarks on a journey to become the Pirate King by finding the One Piece and assembling a crew known as the Straw Hat Pirates.</p>
            <div class="flex align-items-center"><span class="text-600 text-sm font-medium">15 min
                    read</span><span class="text-600 font-medium text-sm mx-3">|</span><span
                    class="bg-indigo-100 text-indigo-600 text-sm block py-1 px-2 border-round mr-3">Poles</span><span
                    class="bg-green-100 text-green-600 text-sm block py-1 px-2 border-round">Nature</span></div>
        </div>
        <div class="w-full xl:w-6">
            <div class="flex flex-wrap align-items-start mb-8 mt-8 xl:mb-6 xl:mt-0">
                <div class="w-full xl:w-6 pr-0 xl:pr-4 mb-4 xl:mb-0"><img src="assets/images/blocks/blog/blog-10.png"
                        alt="Image" class="w-full"></div>
                <div class="w-full xl:w-6">
                    <div class="flex align-items-center"><img src="assets/images/blocks/avatars/circle/avatar-f-2.png"
                            width="28" height="28" class="mr-3 flex-shrink-0"><span
                            class="text-900 font-medium text-lg white-space-nowrap">Bessie Cooper</span><span
                            class="text-500 font-medium text-lg mx-3">|</span><span
                            class="text-500 font-medium text-lg white-space-nowrap">Oct 7</span></div>
                    <div class="text-900 font-bold text-3xl mt-4">World Famous Fish</div>
                    <p class="line-height-3 text-700 my-4">Quisque sagittis purus sit amet volutpat consequat
                        mauris.</p>
                    <div class="flex align-items-center"><span class="text-600 text-sm font-medium">12 min
                            read</span><span class="text-600 font-medium text-sm mx-3">|</span><span
                            class="bg-blue-100 text-blue-600 text-sm block py-1 px-2 border-round mr-3">Ocean</span><span
                            class="bg-green-100 text-green-600 text-sm block py-1 px-2 border-round">Nature</span>
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap align-items-start">
                <div class="w-full xl:w-6 pr-0 xl:pr-4 mb-4 xl:mb-0"><img src="assets/images/blocks/blog/blog-11.png"
                        alt="Image" class="w-full"></div>
                <div class="w-full xl:w-6">
                    <div class="flex align-items-center"><img src="assets/images/blocks/avatars/circle/avatar-f-3.png"
                            width="28" height="28" class="mr-3 flex-shrink-0"><span
                            class="text-900 font-medium text-lg white-space-nowrap">Jenna Clark</span><span
                            class="text-500 font-medium text-lg mx-3">|</span><span
                            class="text-500 font-medium text-lg white-space-nowrap">Oct 10</span></div>
                    <div class="text-900 font-bold text-3xl mt-4">Extinction and Origination</div>
                    <p class="line-height-3 text-700 my-4">Bibendum enim facilisis gravida neque convallis a
                        cras.</p>
                    <div class="flex align-items-center"><span class="text-600 text-sm font-medium">10 min
                            read</span><span class="text-600 font-medium text-sm mx-3">|</span><span
                            class="bg-blue-100 text-blue-600 text-sm block py-1 px-2 border-round mr-3">Ocean</span><span
                            class="bg-green-100 text-green-600 text-sm block py-1 px-2 border-round">Nature</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>