<div class="bg-gray-900 py-2 px-6 shadow-2 flex align-items-center justify-content-between relative lg:static border-bottom-1 border-gray-800"
style="min-height: 84px;"><img src="assets/images/blocks/logos/bastion-300.svg" alt="Image" height="40"
    class="mr-0 lg:mr-6">
<a pripple="" (click)="hide()" pstyleclass="@next" enterclass="hidden" leavetoclass="hidden"
    class="p-ripple p-element cursor-pointer block lg:hidden text-gray-400">
    <i class="pi pi-bars text-4xl"></i> <span class="p-ink"
        style="height: 34px; width: 34px; top: -1.33334px; left: 4.66663px;"></span>
</a>
<div class="align-items-center flex-grow-1 justify-content-between lg:flex absolute lg:static w-full bg-gray-900 left-0 top-100 z-1 shadow-2 lg:shadow-none border-1 lg:border-none border-gray-800 "
    [ngClass]="isHide  ? '' : 'hidden' ">
    <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row">
        <li><a pripple=""
                class="p-ripple p-element flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-150"><i
                    class="pi pi-home mr-2"></i><span>Home</span><span class="p-ink"></span></a></li>
        <li>
            
            <ul
                class="list-none py-3 px-6 m-0 lg:px-0 lg:py-0 border-round shadow-0 lg:shadow-2 lg:absolute bg-gray-900 hidden origin-top w-full lg:w-15rem cursor-pointer lg:border-1 border-gray-800">
                <li><a pripple=""
                        class="p-ripple p-element flex p-3 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 transition-colors transition-duration-150"><i
                            class="pi pi-user-plus mr-2"></i><span class="font-medium">Add New</span><span
                            class="p-ink"></span></a></li>
                <li class="relative"><a pripple="" pstyleclass="@next" enterclass="hidden"
                        enteractiveclass="scalein" leavetoclass="hidden" leaveactiveclass="fadeout"
                        class="p-ripple p-element flex p-3 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 transition-colors transition-duration-150"><i
                            class="pi pi-search mr-2"></i><span class="font-medium">Search</span><i
                            class="pi pi-angle-down ml-auto lg:-rotate-90"></i><span
                            class="p-ink"></span></a>
                    <ul
                        class="list-none py-3 pl-3 m-0 lg:px-0 lg:py-0 border-round shadow-0 lg:shadow-2 lg:absolute bg-gray-900 hidden origin-top w-full lg:w-15rem cursor-pointer left-100 top-0 lg:border-1 border-gray-800">
                        <li><a pripple=""
                                class="p-ripple p-element flex p-3 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 transition-colors transition-duration-150"><i
                                    class="pi pi-shopping-cart mr-2"></i><span
                                    class="font-medium">Purchases</span><span class="p-ink"></span></a></li>
                        <li class="relative"><a pripple=""
                                class="p-ripple p-element flex p-3 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 transition-colors transition-duration-150"><i
                                    class="pi pi-comments mr-2"></i><span
                                    class="font-medium">Messages</span><span class="p-ink"></span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a pripple=""
                class="p-ripple p-element flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-150"><i
                    class="pi pi-calendar mr-2"></i><span>Calendar</span><span class="p-ink"></span></a>
        </li>
        <li><a pripple=""
                class="p-ripple p-element flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-150"><i
                    class="pi pi-chart-line mr-2"></i><span>Stats</span><span class="p-ink"></span></a></li>
    </ul>
</div>
</div>
